body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #222;
    color: #999;
}

.menu {
    background-color: dodgerblue;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: flex;
    text-align: center;
    line-height: 1;
    padding: 0 0.8em;
}

.menu-item {
    position: relative;
}

.menu-item a {
    padding: 0.4em;
    display: block;
}

.menu-sub {
    background-color: aqua;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 1.8em);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.menu-sub:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    height: 20px;
}

.menu-item:hover .menu-sub {
    opacity: 1;
    pointer-events: auto;
}