
body {
    background-color: #999;
}

.wrapper {
    background-color: beige;
    width: 900px;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.box {
    display: inline-block;
    background-color: green;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
