body {
    margin: 0;
    background-color: #bbb;
    font-family: 'arial';
}

a {
    color: inherit;
}

button {
    font: inherit;
    border-radius: 5px;
}

.box {
    background-color: #fefefe;
    width: 500px;
    height: max-content;
    border-radius: 10px;
    border-right: 5px solid #aaa;
    border-bottom: 5px solid #999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;    
    text-align: center;
    color: orangered;
}

.box-burger {
    width: 300px;
    margin-top: -180px;
}

.box h1 {
    margin: 0;
    color: firebrick;
    font-size: 2em;
}

.box p {
    padding: 40px;
}

.box h1:before {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 0.5em;
}