
.box {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 300px;
}

body {
    background-color: #999;
}

img {
    width: 30px;
    vertical-align: middle;
}
