
body{
    background-color: #ddd;
}

.box {
    background-color: white;
    overflow: hidden;
}

.left{
    height: 100px;
    float: left;
}

.right {
    float: right;
    height: 100px;
}

.box p{
    border: 10px solid red;
    overflow: hidden;
}

.box p span {
    background-color: cyan;
    display: block;
}