
.parents {
    width: 800px;
    height: 800px;
    background: orange;
    margin: 40px auto;
}

.children {
    width: 200px;
    height: 200px;
    background: orangered;
    margin: 0 auto;
    text-align: center;
}
